html {
  font-size: 18px;
}

body {
  width: 100%;
  height: 100%;
  padding: 7em 15em;
}

.title-container {
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.search-section {
  padding-top: 1em;
  padding-bottom: 1em;
}

#search-input {
  padding: 0.5em 20em 0.5em 1em;
}

.search-btn {
  padding: 0.5em 1em;
}

#movie-list-section {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
}

/* card ui */
.movie-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.movie-poster {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 0.25em;
}

.movie-title {
  margin: 0.5em 0 0;
  font-size: 1.5rem;
  font-weight: 500;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-overview {
  margin: 0.5em 0;
  font-size: 0.9rem;
  line-height: 1.2rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-rating {
  font-size: 0.9rem;
  background-color: rgb(216, 216, 216);
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
}
